<h2>Numeric Input Demo</h2>
<pre><code>min=2;max=10;</code></pre>
<form>
    <p>
        <label>
            Regular Input (type="number"):
            <input placeholder="only numbers..." required [min]="2" [max]="10" type="number"/>
        </label>
    </p>
    <p>
        <label>
            Numeric Input (dlNumericInput):
            <input placeholder="only numbers..." required [min]="2" [max]="10" dlNumericInput/>
        </label>
    </p>
    <button type="submit">Submit</button>
</form>

<h2>Delayed Dragover Demo</h2>
<div draggable="true">Drag Me</div>
<dl-delayed-dragover></dl-delayed-dragover>
